@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
body{
    padding: 0;
    margin: 0;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.echo{
    font-weight: bold;
    color:#00764C
}

/*! header */
body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #00764C;
    width: 100%;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.head-left{
    padding: 10px;
    display: flex;
    align-items: center;
}

.head-left a{
    text-decoration: none;
}

.head-left div{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    color: #00764C;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    height: 50px;
}

.head-left div:hover{
    text-decoration: underline;
    font-size: 18px;
    box-shadow: 0 0 10px #00764C;
    border-radius: 30px;
    height: 70px;
}

.head-right{
    display: flex;
    align-items: center;
}

.head-right .contact{
    margin-right: 30px;
}
.head-right .contact letter{
    color:#00764C;
    font-weight: lighter;
}
.head-right .contact number{
    color:#00764C;
    font-weight: 900;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.head-right .contact number:hover{
    color: #000;
    font-size: 17px;
    text-decoration: underline;
}

.head-right i {
    color: #00764C;
    font-size: 30px;
}

.head-right button{
    margin: 30px;
    height: 60px; width: 200px;
    font-size: 14px; font-weight: bold;
    border-radius: 30px;
    border: 3px solid #00764C;
    background: #fff;
    color:#00764C;
    transition: all 0.3s ease-in-out;
}

.head-right button:hover{
    background-color: #00764C;
    color: white;
    box-shadow: 0 0 20px #00764C;
}

/*! container */
.container{
    padding: 50px;
}

.chao-mung{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
}

.chao-mung left name{
    color: #00764C;
}


i{
    color: #00764C;
    font-size: 25px;
}
.exchange-items{
    color: #00764C;
    font-size: 25px;
    font-weight: bold;
}

.row .arrow{
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-body button{
    background: #fff;
    color: #00764C;
    border: 2px solid #00764C;
    border-radius: 30px;
    width: 1s00px;
    height: 37px;
    margin-left: 10px;
}

.xemtatca{
    color:#00764C;
}
.xemtatca a{
    color: #00764C;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.xemtatca a:hover{
    font-size: 23px;
    text-decoration: underline;
    color: #00764C;
}

.vouchers{
    margin-top: 50px;
}   

.your-vouchers{
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.table{
    margin-top: 25px;
    box-shadow: 5px 5px 5px 3px #000;
}
.table button{
    border-radius: 30px;
    height: 40px;
    width: 65px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background: red;
    border: 2px solid rgb(239, 190, 190);
    box-shadow: 0 0 15px rgb(239, 190, 190);
    transition: all 0.3s ease-in-out;
}
.table  button:hover{
    background-color: #fff;
    color: red;
    border: 2px solid red;
}

.disabled-people{
    margin-top: 50px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    width: 50%;
}

.disabled-people .bot{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.donate{
    color: #fff;
    background: red;
    border-radius: 30px;
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.donate:hover{
    background-color: #fff;
    color: red;
}

.exchange-detail{
    margin-top: 50px;
}
.exchange-detail .detail{
    color: #000;
    font-size: 25px;
    font-weight: bold;
    width: 50%;
}
.exchange-detail button{
    background-color: #fff;
    border-radius: 30%;
    margin: 20px;
    border: 2px solid #00764C;
    transition: all 0.2s ease-in-out;
}
.exchange-detail button:hover{
    background-color: #00764C;
}
.exchange-detail button:hover i{
    color: #fff;
}


/*! footer */
body footer{
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px #00764C;
    background: #00764C;
    color: #fff;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.C-Us{
    font-size: 60px;
}
.detail{
    font-size: 20px;
}

.SM{
    font-size: 40px;;
}
.SM-logo{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.SM-logo i{
    color:#fff;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}
.SM-logo i:hover{
    font-size: 40px;
    border-radius: 100%;
    box-shadow: 0 0 30px #fff;
}