@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
body{
    padding: 0;
    margin: 0;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.echo{
    font-weight: bold;
    color: #00764C;
}
i{
    color: #00764C;
    font-size: 25px;
}
.table{
    margin-top: 20px;
}

/*! header */
body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #00764C;
    width: 100%;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.head-left{
    padding: 10px;
    display: flex;
    align-items: center;
}

.head-left a{
    text-decoration: none;
}

.head-left div{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    color: #00764C;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    height: 50px;
}

.head-left div:hover{
    text-decoration: underline;
    font-size: 18px;
    box-shadow: 0 0 10px #00764C;
    border-radius: 30px;
    height: 70px;
}

.head-right{
    display: flex;
    align-items: center;
}

.head-right .contact{
    margin-right: 30px;
}
.head-right .contact letter{
    color:#00764C;
    font-weight: lighter;
}
.head-right .contact number{
    color:#00764C;
    font-weight: 900;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.head-right .contact number:hover{
    color: #000;
    font-size: 17px;
    text-decoration: underline;
}

.head-right i {
    color: #00764C;
    font-size: 30px;
}

.head-right button{
    margin: 30px;
    height: 60px; width: 200px;
    font-size: 14px; font-weight: bold;
    border-radius: 30px;
    border: 3px solid #00764C;
    background: #fff;
    color:#00764C;
    transition: all 0.3s ease-in-out;
}

.head-right button:hover{
    background-color: #00764C;
    color: white;
    box-shadow: 0 0 20px #00764C;
}

/*! body */
.container{
    padding: 20px;
    margin: 20px;
}

.information{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar img{
    border-radius: 50%;
}

.lleft{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    font-weight: bold;
}
.info .name{
    color:#00764C;
    font-size: 50px;
}
.info .personal{
    display:flex;
    align-items: center;
}
.info .pers-left{
    color:#00764C;
    display: flex;
    flex-direction: column;
}
.info .personal li{
    list-style: none;
}
.info .pers-right{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.pers-right  input {
    margin-left: 20px;
}

.echo-count{
    font-size: 35px;
}

.history{
    margin-top: 50px;
}
.his{
    font-size: 25px;
    font-weight: bold;
}

.purchase-reminder{
    margin-top: 50px;
}
.pur-rem{
    font-size: 25px;
    font-weight: bold;
}


.down{
    background-color: #fff;
    border-radius: 30%;
    border: 2px solid #00764C;
    margin-left: 15px;
    transition: all 0.2s ease-in-out;
}
.down:hover{
    background-color: #00764C;
}
.down:hover i{
    color: #fff;
}
.person-id{
    margin-top: 50px;
}
.pers-id{
    font-size: 25px;
    font-weight: bold;
}
id{
    font-size: 25px;
    font-weight: bold;  
    color: rgb(96, 96, 0);
    text-decoration: underline;
}



/*! footer */
body footer{
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px #00764C;
    background: #00764C;
    color: #fff;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.C-Us{
    font-size: 60px;
}
.detail{
    font-size: 20px;
}

.SM{
    font-size: 40px;;
}
.SM-logo{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.SM-logo i{
    color:#fff;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}
.SM-logo i:hover{
    font-size: 40px;
    border-radius: 100%;
    box-shadow: 0 0 30px #fff;
}